* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100%;
}

.header,
.footer {
    text-align: center;
    background-color: rgb(67, 146, 146);
}

.header__title,
.footer__title {
    padding: 10px 0;
    font-size: 54px;
    font-weight: 700;
    color: rgb(77, 77, 184);
}

.main {
    display: flex;
}

.aside {
    background-color: rgb(211, 211, 48);
    vertical-align: baseline;
    padding: 40px;
    float: left;
}

.aside__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 30px;
}

.aside li {
    width: 330px;
}

.aside li + li {
    margin-top: 20px;
}

.content {
    padding: 30px;
}

.content__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}

.content__img {
    max-width: 350px;
    width: 100%;
    object-fit: cover;
    float: left;
    padding: 0 30px 30px 0;
}

.content__info {
    font-size: 25px;
}

.footer {
    clear: both;
}

@media (max-width: 1130px) {
    .header__title,
    .footer__title {
        font-size: 40px;
    }
    .content__info {
        font-size: 22px;
    }
}

@media (max-width: 845px) {
    .main {
        display: block;
    }
    .aside {
        max-width: -webkit-fill-available;
        width: 100%;
        margin-bottom: 30px;
    }
    .aside li {
        width: inherit;
    }
}

@media (max-width: 580px) {
    .header__title,
    .footer__title {
        font-size: 30px;
    }
    .content__info {
        font-size: 20px;
    }
}