body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.form {
    padding-top: 30px;
}

.form-title {
    margin-bottom: 30px;
    line-height: 22px;
}

.form-name__label {
    display: block;
    margin-bottom: 15px;
}

.form-name__input {
    margin-left: 50px;
    max-width: 100%;
    width: 83%;
}

.form-heading__label {
    display: block;
    margin-bottom: 15px;
}

.form-heading__select {
    padding: 1px;
    margin-left: 123px;
    max-width: 100%;
    width: 370px;
    font-size: 18px;
}

.form-publication__box {
   margin-bottom: 15px;
}

.form-publication__title {
    display: contents;
}

.form-publication__label-box {
    margin-left: 90px;
}

.form-allow__label {
    display: block;
    margin-bottom: 15px;
}

.form-article__label {
    display: block;
    margin-bottom: 5px;
}

.form-article__textarea {
    margin-top: 5px;
    display: block;
    max-width: 100%;
    width: 100%;
    resize: none;
    height: 45px;
    padding: 0;
}

.form-btn {
    display: block;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 1275px) {
    .form-name__input {
        margin-left: 0;
        width: 87%;
    }
}

@media (max-width: 1270px) {
    .form-name__input {
        margin-top: 5px;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 675px) {
    .form-heading__select {
        margin: 5px 0 0 0;
        width: 100%;
    }
    .form-publication__label-box {
        margin-left: 0;
        display: block;
    }
    .form-publication__label {
        display: block;
        margin-top: 10px;
    }

}
